/** Word rotation start **/
.animation_word-rotation-mask .animated_text {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 120px;
}

.animation_word-rotation-mask span.animated_text[data-show] {
    top: 0;
    transform: translateY(-10%);
    transition: .5s all ease-in-out;
}

.animation_word-rotation-mask span.animated_text[data-up] {
    transform: translateY(-290%);
    transition: .5s all ease-in-out;
}

@media screen and (min-width: 768px) {
    span.animated_text .line-break {
        display: block;
    }
}
@media screen and (max-width: 767px) {
    span.animated_text .line-break {
        display: inline;
    }
}
/** Word rotation end **/