<style>
:root{
    --succes-color: #2ecc71;;
    --error-color: #e74c3c;
}

.form-wrapper.success input {
    border-color: var(--succes-color);
}

.form-wrapper.error input {
    border-color: var(--error-color);    
}

</style>