<style>
.form-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: auto;
  }
  .form-container .tag {
    display: flex;
    align-items: center;
    cursor: default;
  }
  .tag i {
    font-size: 16px;
    margin-left: 5px;
  }
  .form-container input {
    flex: 1;
  }
  </style>