.form-container {
    border: 2px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 6px;
    overflow-x: scroll;
  }
  .form-container .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    display: flex;
    align-items: center;
    color: #333;
    cursor: default;
  }
  .tag i {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
  }
  .form-container input {
    padding: 5px;
    font-size: 16px;
    border: 0;
    outline: none;
    color: #333;
    flex: 1;
  }  