<style>
.form-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: auto;
}

.tag {
    position: absolute;
    bottom: 10px;
}

.form-container .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    display: flex;
    align-items: center;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
    cursor: default;
}

.tag i {
    font-size: 16px;
    margin-left: 5px;
}

.form-container input {
    flex: 1;
}
</style>