/** Map start **/
#map {
    height: 300px;
    width: 100%;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

/** Autocomplete start **/
#input_wrap-location {
    position: relative;
}

/** Map end **/
.pac-container {
    top: 5rem !important;
    left: 0 !important;
    right: 0 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #f80;
    border-right: 1px solid #f80;
    border-bottom: 1px solid #f80;
    border-top: 1px solid white;
    box-shadow: 0px 4px 10px 0px rgba(255, 136, 0, 0.1);
}

.pac-container::after {
    display: none;
}

.pac-item {
    font-family: 'Eina03', sans-serif;
    font-size: 0.75rem;
    color: rgb(139, 139, 139);
    height: 56px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    box-shadow: none;
    border-top: 1px solid white;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.pac-item:hover {
    background-color: rgba(255, 136, 0, 0.1);
}

.pac-item-query {
    font-family: 'Eina03', sans-serif;
    font-size: 0.875rem;
}

/** Autocomplete end **/

/** Media queries for renters-estimate start **/
@media screen and (max-width: 991px) {
    .pac-container {
        width: 100% !important;
    }
}
@media screen and (min-width: 992px) {
    .pac-container {
        width: 359.67px !important;
    }
}

@media screen and (min-width: 1440px) {
    .pac-container {
        width: 436.96px !important;
    }
}

/** Media queries for renters-estimate end **/
/** Media queries for rent-estimate start **/
@media screen and (min-width: 992px) {
    #form_rentestimate .pac-container {
        width: 300.09px !important;
    }
}

@media screen and (min-width: 1440px) {
    #form_rentestimate .pac-container {
        width: 304.33px !important;
    }
}

/** Media queries for rent-estimate end **/