/** Section stats start**/
.stats_animated-text {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

/** Section stats end**/
/** Section Who we are start **/
.aboutus-whoweare_image-wrapper:hover .aboutus-whoweare_image-group > .aboutus-whoweare_image-wrapper {
    scale: 0.85;
}
/** Section Who we are end **/