circle {
    cursor: pointer;
    transition: all .25s ease;
}

circle:hover {
    fill: #f80;
}

.path_circle {
    cursor: pointer;
    transition: all .25s ease;
}

.path_circle:hover {
    fill: #f80;
}

g {
    transition: all .25s ease;
}

#Greater_Seattle_Area {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Greater_Seattle_Area:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#San_Francisco_Oakland {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 0.15s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#San_Francisco_Oakland:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#San_Jose {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#San_Jose:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Las_Vegas {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 0.35s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Las_Vegas:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Inland_Empire {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 0.45s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Inland_Empire:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Greater_Los_Angeles {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 0.55s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Greater_Los_Angeles:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Orange_Riverside_Country {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 0.65s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Orange_Riverside_Country:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Greater_San_Diego {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Greater_San_Diego:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Phoenix_Scottsdale {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 0.85s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#Phoenix_Scottsdale:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Denver {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 0.95s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Denver:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#San_Antonio {
    animation: 1s fadeIn;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#San_Antonio:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Austin {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 1.15s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Austin:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Houston {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#Houston:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Kansas {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 1.35s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Kansas:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#St_Louis {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 1.45s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#St_Louis:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Chicago {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 1.55s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Chicago:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Nashville {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 1.65s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Nashville:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Columbus {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Columbus:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Charleston {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 1.85s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#Charleston:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#Raleigh {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 1.95s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#Raleigh:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}
#DC_Bowie {
    cursor: pointer;
    font-size: 1.25rem;
    animation: 1s fadeIn;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
#DC_Bowie:hover {
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}
/** Homeowners' maps end **/