$color-orange-primary: #ff7300;
$color-dark-primary: #383f4a;

.geomarket-map_container {
  padding: 3.2rem 0.8rem;
  position: relative;
  display: inline-block;
  img {
    width: 100%;
  }
  .point {
    cursor: pointer;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: $color-orange-primary;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.3s ease;
    will-change: transform, box-shadow;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 rgba($color-orange-primary, 0.4);
    animation: pulse 3s infinite;
    &:hover {
      animation: none;
      transform: translate(-50%, -50%) scale3D(1.35, 1.35, 1);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      .data-tooltip {
        opacity: 1;
        pointer-events: auto;
        left: 50%;
        -webkit-transform: translateX(-47%);
        -moz-transform: translateX(-47%);
        -ms-transform: translateX(-47%);
        -o-transform: translateX(-47%);
        transform: translateX(-47%);
      }
    }
    .data-tooltip {
      background: $color-dark-primary;
      bottom: 100%;
      color: #fff;
      display: block;
      font-size: 0.875rem;
      left: -28px;
      margin-bottom: 15px;
      opacity: 0;
      padding: 0.55rem 1rem;
      pointer-events: none;
      position: absolute;
      min-width: 100%;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -ms-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      /* This bridges the gap so you can mouse into the data-tooltip without it disappearing */
      &:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      /* CSS Triangles - see Trevor's post */
      &:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid $color-dark-primary 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -13px;
        position: absolute;
        width: 0;
      }
    }
  }
  .state-nevada {
    top: 40%;
    left: 22%;
  }
  .state-colorado {
    top: 47%;
    left: 40%;
  }
  .state-texas {
    top: 72%;
    left: 50%;
  }
  .state-arizona {
    top: 60%;
    left: 29%;
  }
  .state-california {
    top: 46%;
    left: 16%;
  }
  .state-oregon {
    top: 24%;
    left: 19%;
  }
  .state-washington {
    top: 13%;
    left: 21%;
  }
  .state-missouri {
    top: 49%;
    left: 61%;
  }
  .state-wisconsin {
    top: 28%;
    left: 65%;
  }
  .state-ohio {
    top: 41%;
    left: 77%;
  }
  .state-illinois {
    top: 43%;
    left: 67%;
  }
  .state-michigan {
    top: 32%;
    left: 73%;
  }
  .state-indiana {
    top: 42%;
    left: 72%;
  }
  .state-maryland {
    top: 42%;
    left: 87%;
  }
  .state-tennessee {
    top: 57%;
    left: 72%;
  }
  .state-carolina-north {
    top: 55%;
    left: 85%;
  }
  .state-carolina-south {
    top: 61%;
    left: 82%;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(254 252 242 / 50%);
  }
  70% {
    box-shadow: 0 0 0 25px rgb(254 252 242 / 0%);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(254 252 242 / 0%);
  }
}

/* IE can just show/hide with no transition */
.lte8 .point .data-tooltip {
  display: none;
}

.lte8 .point:hover .data-tooltip {
  display: block;
}
