// Variables
$primary_color: #ff8800;
$drop_shadow: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

// Mixins
@mixin city_base_style() {
  cursor: pointer;
  font-size: 1.25rem;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

a {
  position: relative;
  z-index: 1;
  &:hover {
    z-index: 2;
    & .rect {
      display: block;
    }
    & .st6 {
      fill: $primary_color;
    }
  }
}

g {
  transition: all 0.25s ease;

  & .rect {
    display: none;
  }
}

#Seattle {
  @include city_base_style();
  animation-delay: 0s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#San_Francisco {
  @include city_base_style();
  animation-delay: 0.15s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Oakland {
  @include city_base_style();
  animation-delay: 0.14s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#San_Jose {
  @include city_base_style();
  animation-delay: 0.18s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Cupertino {
  @include city_base_style();
  animation-delay: 0.17s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Las_Vegas {
  @include city_base_style();
  animation-delay: 0.19s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Inland_Empire {
  @include city_base_style();
  animation-delay: 0.2s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Los_Angeles {
  @include city_base_style();
  animation-delay: 0.21s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Orange_Country {
  @include city_base_style();
  animation-delay: 0.22s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Greater_San_Diego {
  @include city_base_style();
  animation-delay: 0.24s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Phoenix_Scottsdale {
  @include city_base_style();
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Denver {
  @include city_base_style();
  animation-delay: 0.26s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Boulder {
  @include city_base_style();
  animation-delay: 0.25s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#San_Antonio {
  @include city_base_style();
  animation-delay: 0.27s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Austin {
  @include city_base_style();
  animation-delay: 0.28s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Houston {
  @include city_base_style();
  animation-delay: 0.29s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Kansas {
  @include city_base_style();
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#St_Louis {
  @include city_base_style();
  animation-delay: 0.3s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Chicago {
  @include city_base_style();
  animation-delay: 0.31s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Nashville {
  @include city_base_style();
  animation-delay: 0.32s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Columbus {
  @include city_base_style();
  animation-delay: 0.33s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Charleston {
  @include city_base_style();
  animation-delay: 0.35s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Raleigh {
  @include city_base_style();
  animation-delay: 0.37s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Bowie {
  @include city_base_style();
  animation-delay: 0.38s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Springfield {
  @include city_base_style();
  animation-delay: 0.12s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Portland {
  @include city_base_style();
  animation-delay: 0.11s;
  &:hover {
    fill: white;
    filter: $drop_shadow;
    & .rect {
      display: block;
    }
  }
}

#Sacramento {
  @include city_base_style();
  animation-delay: 0.13s;
  &:hover {
    fill: white;
    filter: $drop_shadow;
    & .rect {
      display: block;
    }
  }
}

#Sta_Cruz {
  @include city_base_style();
  &:hover {
    animation-delay: 0.16s;
    fill: white;
    filter: $drop_shadow;
    & .rect {
      display: block;
    }
  }
}

#Long_Beach {
  @include city_base_style();
  animation-delay: 0.23s;
  &:hover {
    fill: white;
    filter: $drop_shadow;
    & .rect {
      display: block;
    }
  }
}

#Winston {
  @include city_base_style();
  animation-delay: 0.36s;
  &:hover {
    fill: white;
    filter: $drop_shadow;
    & .rect {
      display: block;
    }
  }
}

#Cleveland {
  @include city_base_style();
  animation-delay: 0.34s;
  &:hover {
    fill: white;
    filter: $drop_shadow;
    & .rect {
      display: block;
    }
  }
}

#Oakland {
  @include city_base_style();
  animation-delay: 0.14s;
  &:hover {
    fill: white;
    filter: $drop_shadow;

    & .rect {
      display: block;
    }
  }
}

#Dayton {
  @include city_base_style();
  animation-delay: 0.34s;
  &:hover {
    fill: white;
    filter: $drop_shadow;
    & .rect {
      display: block;
    }
  }
}

#Phoenix_Scottsdale {
  @include city_base_style();
  animation-delay: 0.34s;
  &:hover {
    fill: white;
    filter: $drop_shadow;
    & .rect {
      display: block;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/** Homeowners' maps end **/
