.section_pricing-and-features {
  .table-pricing {
    &_column:hover {
      .table-pricing {
        &_head.background-color-grey {
          background-color: white;
        }
      }
    }
  }
}

.section_pricing-portfolio {
  .table-pricing {
    &_column {
      z-index: unset;
    }
  }
}

@media screen and (max-width: 991px) {
  .icon-help.is-white {
    font-weight: 100;
  }
  .tooltip_body {
    font-size: 1rem;
    font-weight: 100;
  }
  .tablehead_title.text-color-white {
    color: white;
  }
  .section_pricing-portfolio {
    [role="table"][aria-labelledby][tabindex] {
      height: 310px;
      margin-bottom: 2rem;
      .table-pricing_mobile {
        thead {
          tr {
            th {
              .table-pricing_column-border {
                height: 305px;
              }
            }
          }
        }
      }
    }
  }
  .section_pricing-and-features {
    .table-pricing {
      &_mobile {
        tbody {
          tr {
            background-color: white;
          }
          tr.background-color-grey {
            background-color: #f7f7f7;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .table-pricing {
    &_mobile {
      .table-pricing_column-shadow {
        height: 310px;
      }
    }
  }
}
