/** Word rotation start **/
.animation_word-rotation-mask .animated_text {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 220px;
}

.animation_word-rotation-mask span.animated_text[data-show] {
    top: 0;
    transition: .5s all ease-in-out;
}

.animation_word-rotation-mask span.animated_text[data-up] {
    transform: translateY(-500%);
    transition: .5s all ease-in-out;
}

@media screen and (min-width: 1439px) {
    .animation_word-rotation-mask {
        height: 232px;
    }
}

@media sreen and (max-width: 830px) and (min-width: 768px) {
    .grid_feature {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .image_poplardoes-phone {
        right: -46px;
    }

    .shape_poplardoes-circle {
        right: 14rem;
    }

    .shape_poplardoes-mint {
        right: 10rem;
    }

    .shape_poplardoes-orange {
        right: -2rem;
    }

    .shape_poplardoes-swirl {
        right: -8%;
    }
}

@media screen and (max-width: 534px) and (min-width: 480px) {
    .heading-style-h1.text-color-orange span.show-mobile {
        display: block;
    }

    .grid_feature.feature_poplardoes {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 770px) and (min-width: 768px) {
    .animation_word-rotation-mask {
        height: 215px;
    }

    .shape_poplardoes-circle {
        bottom: 4rem;
    }

    .shape_poplardoes-swirl {
        bottom: -1rem;
    }
}

@media screen and (max-width: 479px) {
    .shape_poplardoes-mint {
        -webkit-transform: translate(-120%,0) !important;
        -ms-transform: translate(-120%,0) !important;
        transform: translate(-120%,0) !important;
    }
    .shape_poplardoes-orange {
        -webkit-transform: translate(340%,0) !important;
        -ms-transform: translate(340%,0) !important;
        transform: translate(340%,0) !important;
    }
}

/** Word rotation end**/
/** Poplarwill start **/
@media screen and (max-width: 925px) and (min-width: 768px) {
    .image_poplarwill-phone {
        left: 0;
    }

    .image_poplarwill-piggybank {
        left: 13.3rem;
    }

    .image_poplarwill-streetcred {
        left: -2%;
    }

    .shape_poplarwill-orange {
        left: 12.6rem;
    }

    .shape_poplarwill-mint {
        left: -1%;
    }

    .shape_poplarwill-signal {
        left: 15.6rem;
    }
}

@media screen and (max-width: 830px) and (min-width: 768px) {
    .image_poplarwill-phone {
        left: -2rem;
    }

    .image_poplarwill-piggybank {
        top: 50%;
        left: 12.3rem;
        width: 100px;
    }

    .image_poplarwill-streetcred {
        left: -7%;
    }

    .shape_poplarwill-orange {
        left: 11.6rem;
        top: 7rem;
    }

    .shape_poplarwill-mint {
        left: -5%;
    }

    .shape_poplarwill-signal {
        left: 13.5rem;
    }
}

@media screen and (max-width: 479px) {
    .image_poplarwill-streetcred {
        -webkit-transform: translate(-60%, 0) !important;
        -ms-transform: translate(-60%, 0) !important;
        transform: translate(-60%, 0) !important;
    }
    .shape_poplarwill-orange {
        -webkit-transform: translate(170%,0) !important;
        -ms-transform: translate(170%,0) !important;
        transform: translate(170%,0) !important;
    }
    .image_poplarwill-piggybank {
        -webkit-transform: translate(160%,0) !important;
        -ms-transform: translate(160%,0) !important;
        transform: translate(160%,0) !important;
    }
    .shape_poplarwill-mint {
        -webkit-transform: translate(-500%,0) !important;
        -ms-transform: translate(-500%,0) !important;
        transform: translate(-500%,0) !important;
    }
}
@media screen and (max-width: 470px) {
    .animation_word-rotation-mask {
        height: 5rem;
    }
}
@media screen and (max-width: 340px) {
    .animation_word-rotation-mask {
        height: 6rem;
    }
    .grid_feature.feature_poplardoes,
    .grid_feature.feature_poplarwill {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
/** Poplarwill end **/