/** Word rotation start **/
.animation_word-rotation-mask .animated_text {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 220px;
}

.animation_word-rotation-mask span.animated_text[data-show] {
    top: 0;
    transition: .5s all ease-in-out;
}

.animation_word-rotation-mask span.animated_text[data-up] {
    transform: translateY(-500%);
    transition: .5s all ease-in-out;
}

@media screen and (max-width: 534px) and (min-width: 480px) {
    .heading-style-h1.text-color-orange span.show-mobile {
        display: block;
    }
}
/** Word rotation end**/
/** Poplarwill start **/
/** Poplarwill end **/