/** Word rotation start **/
.animation_word-rotation-mask .animated_text {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 220px;
}

.animation_word-rotation-mask span.animated_text[data-show] {
    top: 0;
    transition: .5s all ease-in-out;
}

.animation_word-rotation-mask span.animated_text[data-up] {
    transform: translateY(-500%);
    transition: .5s all ease-in-out;
}

@media screen and (max-width: 534px) and (min-width: 480px) {
    .heading-style-h1.text-color-orange span.show-mobile {
        display: block;
    }
}
/** Word rotation end**/
/** Poplarwill start **/
@media screen and (max-width: 820px) and (min-width: 768px){
    .image_poplarwill-phone {
        left: 0vw;
    }
    .image_poplarwill-streetcred {
        left: -6%;
    }
    .shape_poplarwill-mint {
        left: -5%;
    }
    .image_poplarwill-piggybank {
        left: 10.5rem;
    }
    .shape_poplarwill-signal {
        left: 11.5rem;
    }
}
/** Poplarwill end **/